@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(70, 184, 255);
}

header{
    color: white;
    text-align: center;
}

main > section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
}

footer{
    text-align: center;
    font-style: italic;
}